*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('bg.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.container{
    width: 115vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid #ffffff;
    border-radius: 6px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 50s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    2%{
        transform: translateX(0);
    }
    4%{
        transform: translateX(-100%);
    }
    6%{
        transform: translateX(-100%);
    }
    8%{
        transform: translateX(-200%);
    }
    10%{
        transform: translateX(-200%);
    }
    12%{
        transform: translateX(-300%);
    }
    15%{
        transform: translateX(-300%);
    }
	18%{
        transform: translateX(-400%);
    }
    20%{
        transform: translateX(-400%);
    }
	22%{
        transform: translateX(-500%);
    }
    24%{
        transform: translateX(-500%);
    }
	26%{
        transform: translateX(-600%);
    }
    28%{
        transform: translateX(-600%);
    }
	30%{
        transform: translateX(-700%);
    }
    32%{
        transform: translateX(-700%);
    }
	34%{
        transform: translateX(-800%);
    }
    36%{
        transform: translateX(-800%);
    }
	38%{
        transform: translateX(-900%);
    }
    40%{
        transform: translateX(-900%);
    }
	42%{
        transform: translateX(-1000%);
    }
    44%{
        transform: translateX(-1000%);
    }
	46%{
        transform: translateX(-1100%);
    }
    48%{
        transform: translateX(-1100%);
    }
    50%{
        transform: translateX(-1200%);
    }
    52%{
        transform: translateX(-1200%);
    }
    54%{
        transform: translateX(-1300%);
    }
    56%{
        transform: translateX(-1300%);
    }
    58%{
        transform: translateX(-1400%);
    }
    60%{
        transform: translateX(-1400%);
    }
	62%{
        transform: translateX(-1500%);
    }
    64%{
        transform: translateX(-1500%);
    }
	66%{
        transform: translateX(-1600%);
    }
    68%{
        transform: translateX(-1600%);
    }
	70%{
        transform: translateX(-1700%);
    }
    72%{
        transform: translateX(-1700%);
    }
	74%{
        transform: translateX(-1800%);
    }
    78%{
        transform: translateX(-1800%);
    }
	80%{
        transform: translateX(-1900%);
    }
    84%{
        transform: translateX(-1900%);
    }
	88%{
        transform: translateX(-2000%);
    }
    100%{
        transform: translateX(-2000%);
    }
}
img{
    width: 100%;
}